In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [2]:
path = r"C:\Users\R\Desktop\MASAI\PROJECT\P2_Car price prediction model\final-csvs\*.csv"

In [3]:
csv_files = glob.glob(path)

In [4]:
datasets = []

for file in csv_files:
    df = pd.read_csv(file, index_col=0)
    datasets.append(df)

In [5]:
df = pd.concat(datasets, axis=0, ignore_index=True)
df.head(2)

,brand_and_model,km_driven,fuel_type,transmission,all_spec_1,all_spec_2,price
0,2019 Tata Harrier XZ,38K km,· Diesel,· Manual,NaN,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh
1,2019 Maruti Suzuki Baleno Zeta Petrol,25K km,· Petrol,· Manual,NaN,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh

In [6]:
df.isnull().sum()

brand_and_model       0
km_driven            12
fuel_type             0
transmission          0
all_spec_1         1042
all_spec_2          916
price                 0
dtype: int64

### Dropping duplicate records

In [7]:
df[df.duplicated()].sort_values('brand_and_model')

,brand_and_model,km_driven,fuel_type,transmission,all_spec_1,all_spec_2,price
894,2010 Nissan Micra XV Petrol,38K km,· Petrol,· Manual,NaN,Mileage (ARAI)\n18.6 kmpl\nGround clearance\n1...,₹3.25 Lakh
994,2010 Nissan Micra XV Petrol,38K km,· Petrol,· Manual,NaN,Mileage (ARAI)\n18.6 kmpl\nGround clearance\n1...,₹3.25 Lakh
1254,2010 Nissan Micra XV Petrol,38K km,· Petrol,· Manual,NaN,Mileage (ARAI)\n18.6 kmpl\nGround clearance\n1...,₹3.25 Lakh
1594,2010 Nissan Micra XV Petrol,38K km,· Petrol,· Manual,NaN,Mileage (ARAI)\n18.6 kmpl\nGround clearance\n1...,₹3.25 Lakh
1114,2010 Nissan Micra XV Petrol,38K km,· Petrol,· Manual,NaN,Mileage (ARAI)\n18.6 kmpl\nGround clearance\n1...,₹3.25 Lakh
...,...,...,...,...,...,...,...
283,2022 Tata Punch Creative AMT Dual Tone,20K km,· Petrol,· Automatic,NaN,Mileage (ARAI)\n18.9 kmpl\nGround clearance\n1...,₹8.90 Lakh
119,2022 Tata Tigor Revotron XZ+,3K km,· Petrol,· Manual,Boot space\n419 litres\nSeating capacity\n5 un...,NaN,₹7.53 Lakh
1656,2022 Volkswagen Virtus Comfortline 1.0 TSI MT,4K km,· Petrol,· Manual,Mileage (ARAI)\n19.4 kmpl\nGround clearance\n1...,NaN,₹11.92 Lakh
1316,2022 Volkswagen Virtus Comfortline 1.0 TSI MT,4K km,· Petrol,· Manual,Mileage (ARAI)\n19.4 kmpl\nGround clearance\n1...,NaN,₹11.92 Lakh
1476,2022 Volkswagen Virtus Comfortline 1.0 TSI MT,4K km,· Petrol,· Manual,Mileage (ARAI)\n19.4 kmpl\nGround clearance\n1...,NaN,₹11.92 Lakh

In [8]:
df = df.drop_duplicates()

In [9]:
df.shape

(659, 7)

# Merging the two specifications column into single one

In [10]:
df['all_spec_1'] = np.where(df['all_spec_1'].isnull(), df['all_spec_2'], df['all_spec_1'])

In [11]:
df.head()

,brand_and_model,km_driven,fuel_type,transmission,all_spec_1,all_spec_2,price
0,2019 Tata Harrier XZ,38K km,· Diesel,· Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh
1,2019 Maruti Suzuki Baleno Zeta Petrol,25K km,· Petrol,· Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh
2,2021 Mahindra XUV 300 W6 AMT Diesel,51K km,· Diesel,· Automatic,Mileage (ARAI)\n20 kmpl\nGround clearance\n180...,Mileage (ARAI)\n20 kmpl\nGround clearance\n180...,₹11.41 Lakh
3,2019 Tata Nexon XZA Plus AMT Diesel,54K km,· Diesel,· Automatic,Mileage (ARAI)\n21.5 kmpl\nBoot space\n350 lit...,NaN,₹9.64 Lakh
4,2019 Ford Freestyle Titanium 1.2,18K km,· Petrol,· Manual,Mileage (ARAI)\n18.5 kmpl\nBoot space\n257 lit...,Mileage (ARAI)\n18.5 kmpl\nBoot space\n257 lit...,₹6.57 Lakh

In [12]:
df.isnull().sum()

brand_and_model      0
km_driven            2
fuel_type            0
transmission         0
all_spec_1           3
all_spec_2         308
price                0
dtype: int64

In [13]:
df.drop('all_spec_2', axis= 1, inplace=True)

In [14]:
df.head(2)

,brand_and_model,km_driven,fuel_type,transmission,all_spec_1,price
0,2019 Tata Harrier XZ,38K km,· Diesel,· Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh
1,2019 Maruti Suzuki Baleno Zeta Petrol,25K km,· Petrol,· Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh

In [15]:
df.isnull().sum()

brand_and_model    0
km_driven          2
fuel_type          0
transmission       0
all_spec_1         3
price              0
dtype: int64

### Droping nulls / Null handling

In [16]:
df.dropna(inplace=True)

In [17]:
df.shape

(656, 6)

In [18]:
df.isnull().sum()

brand_and_model    0
km_driven          0
fuel_type          0
transmission       0
all_spec_1         0
price              0
dtype: int64

# Extracting model (year) and manufacturer from brand_&_model column

In [19]:
df['model'] = df['brand_and_model'].apply(lambda x: int(x[:4]))

In [20]:
df['brand_and_model'] = df['brand_and_model'].apply(lambda x: x[5:])

In [21]:
df.rename(columns={'brand_and_model':'brand'}, inplace=True)

In [22]:
df.head(2)

,brand,km_driven,fuel_type,transmission,all_spec_1,price,model
0,Tata Harrier XZ,38K km,· Diesel,· Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh,2019
1,Maruti Suzuki Baleno Zeta Petrol,25K km,· Petrol,· Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh,2019

In [23]:
df.model.unique()

array([2019, 2021, 2014, 2016, 2013, 2020, 2015, 2017, 2018, 2012, 2022,
       2011, 2010], dtype=int64)

In [24]:
car_brands = ['Audi','Bentley','BMW','Bugatti','Chevrolet','Datsun','Ferrari','Fiat','Ford','Honda','Hyundai','Jaguar','Jeep','Kia',
              'Lamborghini','Land Rover','Mahindra','Maruti','Mercedes-Benz','MG','Mitsubishi','Nissan','Porsche','Renault','Rolls-Royce',
              'SEAT','Skoda','Suzuki','Tata','Tesla','Toyota','Volkswagen','Volvo']

In [25]:
def manufacturer(x):
    x = x.split()
    for i in x:
        if i in car_brands:
            return i
        else:
            pass

In [26]:
manufacturer(df.iloc[0,0])

'Tata'

In [27]:
df['manufacturer'] = df['brand'].apply(lambda x: manufacturer(x))

In [28]:
df.head()

,brand,km_driven,fuel_type,transmission,all_spec_1,price,model,manufacturer
0,Tata Harrier XZ,38K km,· Diesel,· Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh,2019,Tata
1,Maruti Suzuki Baleno Zeta Petrol,25K km,· Petrol,· Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh,2019,Maruti
2,Mahindra XUV 300 W6 AMT Diesel,51K km,· Diesel,· Automatic,Mileage (ARAI)\n20 kmpl\nGround clearance\n180...,₹11.41 Lakh,2021,Mahindra
3,Tata Nexon XZA Plus AMT Diesel,54K km,· Diesel,· Automatic,Mileage (ARAI)\n21.5 kmpl\nBoot space\n350 lit...,₹9.64 Lakh,2019,Tata
4,Ford Freestyle Titanium 1.2,18K km,· Petrol,· Manual,Mileage (ARAI)\n18.5 kmpl\nBoot space\n257 lit...,₹6.57 Lakh,2019,Ford

In [29]:
df['manufacturer'].replace('Maruti',"Maruti Suzuki", inplace=True)

In [30]:
df.manufacturer.unique()

array(['Tata', 'Maruti Suzuki', 'Mahindra', 'Ford', 'Nissan', 'Renault',
       'Hyundai', 'Skoda', 'Chevrolet', 'Honda', 'Kia', 'Volkswagen',
       'MG', 'Toyota', 'Jeep', 'Datsun'], dtype=object)

# Cleaning fuel_type and transmission columns

In [31]:
def clean(x):
    x = x[3:]
    return x

In [32]:
df['fuel_type'] = df['fuel_type'].apply(lambda x: clean(x))

In [33]:
df['transmission'] = df['transmission'].apply(lambda x: clean(x))

In [34]:
df.head(2)

,brand,km_driven,fuel_type,transmission,all_spec_1,price,model,manufacturer
0,Tata Harrier XZ,38K km,Diesel,Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh,2019,Tata
1,Maruti Suzuki Baleno Zeta Petrol,25K km,Petrol,Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh,2019,Maruti Suzuki

# Cleaning km_driven column

In [35]:
df.km_driven.unique()

array(['38K km', '25K km', '51K km', '54K km', '18K km', '20K km',
       '71K km', '40K km', '10K km', '15K km', '98K km', '72K km',
       '21K km', '35K km', '79K km', '45K km', '65K km', '29K km',
       '50K km', '22K km', '39K km', '64K km', '82K km', '16K km',
       '32K km', '84K km', '80K km', '49K km', '52K km', '3K km',
       '53K km', '66K km', '78K km', '47K km', '58K km', '67K km',
       '9K km', '31K km', '8K km', '7K km', '44K km', '59K km', '30K km',
       '57K km', '60K km', '61K km', '94K km', '87K km', '96K km',
       '33K km', '14K km', '56K km', '17K km', '92K km', '41K km',
       '62K km', '77K km', '28K km', '24K km', '23K km', '42K km',
       '69K km', '114K km', '81K km', '75K km', '55K km', '74K km',
       '46K km', '105K km', '4K km', '37K km', '83K km', '12K km',
       '19K km', '11K km', '5K km', '88K km', '89K km', '93K km',
       '26K km', '95K km', '13K km', '36K km', '73K km', '27K km',
       '118K km', '76K km', '108K km', '85K km', '97K km', '91K km',
       '100K km', '34K km', '99K km', '90K km', '6K km', '68K km',
       '63K km', '102K km', '116K km', '43K km', '48K km', '86K km',
       '70K km'], dtype=object)

In [36]:
def driven(x):
    x = int(x.replace(x[-4:], ""))
    return x

In [37]:
a = "26K km"

In [38]:
driven(a)

26

In [39]:
df['km_driven'] = df['km_driven'].apply(lambda x: driven(x))

In [40]:
df = df.rename(columns = {'km_driven':'km_driven_(in_thousands)'})

In [41]:
df.head(2)

,brand,km_driven_(in_thousands),fuel_type,transmission,all_spec_1,price,model,manufacturer
0,Tata Harrier XZ,38,Diesel,Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,₹15.65 Lakh,2019,Tata
1,Maruti Suzuki Baleno Zeta Petrol,25,Petrol,Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,₹7.85 Lakh,2019,Maruti Suzuki

# Cleaning price column

In [42]:
df.price.unique()

array(['₹15.65 Lakh', '₹7.85 Lakh', '₹11.41 Lakh', '₹9.64 Lakh',
       '₹6.57 Lakh', '₹2.12 Lakh', '₹19.05 Lakh', '₹7.21 Lakh',
       '₹9.41 Lakh', '₹10.76 Lakh', '₹7.18 Lakh', '₹7.49 Lakh',
       '₹7.25 Lakh', '₹3.12 Lakh', '₹4.96 Lakh', '₹6.43 Lakh',
       '₹9.36 Lakh', '₹9.98 Lakh', '₹5.61 Lakh', '₹5.79 Lakh',
       '₹7.26 Lakh', '₹10.70 Lakh', '₹5.64 Lakh', '₹5.60 Lakh',
       '₹5.27 Lakh', '₹9.76 Lakh', '₹6.41 Lakh', '₹12.99 Lakh',
       '₹7.64 Lakh', '₹6.71 Lakh', '₹8.58 Lakh', '₹3.18 Lakh',
       '₹8.82 Lakh', '₹6.64 Lakh', '₹3.07 Lakh', '₹9.49 Lakh',
       '₹7.40 Lakh', '₹16.39 Lakh', '₹6.93 Lakh', '₹16.38 Lakh',
       '₹7.53 Lakh', '₹10.01 Lakh', '₹9.91 Lakh', '₹6.99 Lakh',
       '₹8.51 Lakh', '₹5.07 Lakh', '₹6.63 Lakh', '₹7.54 Lakh',
       '₹6.09 Lakh', '₹10.12 Lakh', '₹4.53 Lakh', '₹16.97 Lakh',
       '₹14.12 Lakh', '₹4.62 Lakh', '₹10.73 Lakh', '₹4.67 Lakh',
       '₹18.30 Lakh', '₹7.77 Lakh', '₹6.79 Lakh', '₹5.48 Lakh',
       '₹15.13 Lakh', '₹4.32 Lakh', '₹4.99 Lakh', '₹12.62 Lakh',
       '₹4.85 Lakh', '₹8.96 Lakh', '₹34.48 Lakh', '₹10.22 Lakh',
       '₹5.26 Lakh', '₹10.33 Lakh', '₹4.36 Lakh', '₹6.33 Lakh',
       '₹12.69 Lakh', '₹13.57 Lakh', '₹8.12 Lakh', '₹4.55 Lakh',
       '₹6.30 Lakh', '₹5.94 Lakh', '₹4.72 Lakh', '₹6.31 Lakh',
       '₹8.83 Lakh', '₹2.41 Lakh', '₹18.01 Lakh', '₹3.38 Lakh',
       '₹8.95 Lakh', '₹3.14 Lakh', '₹5.85 Lakh', '₹6.01 Lakh',
       '₹9.78 Lakh', '₹6.84 Lakh', '₹9.26 Lakh', '₹6.61 Lakh',
       '₹5.83 Lakh', '₹8.40 Lakh', '₹2.89 Lakh', '₹14.56 Lakh',
       '₹8.38 Lakh', '₹8.65 Lakh', '₹9.68 Lakh', '₹11.69 Lakh',
       '₹5.24 Lakh', '₹9.71 Lakh', '₹2.35 Lakh', '₹8.30 Lakh',
       '₹5.10 Lakh', '₹4.90 Lakh', '₹3.33 Lakh', '₹2.43 Lakh',
       '₹3.81 Lakh', '₹8.29 Lakh', '₹9.27 Lakh', '₹7.03 Lakh',
       '₹11.58 Lakh', '₹5.89 Lakh', '₹6.81 Lakh', '₹9.17 Lakh', '₹4 Lakh',
       '₹11.21 Lakh', '₹4.61 Lakh', '₹6.65 Lakh', '₹6.10 Lakh',
       '₹5.74 Lakh', '₹9.85 Lakh', '₹13.83 Lakh', '₹6.62 Lakh',
       '₹7.43 Lakh', '₹5.09 Lakh', '₹5.23 Lakh', '₹5.38 Lakh',
       '₹8.55 Lakh', '₹9.32 Lakh', '₹9.02 Lakh', '₹3.76 Lakh',
       '₹5.49 Lakh', '₹7.05 Lakh', '₹7.87 Lakh', '₹7.08 Lakh',
       '₹18.89 Lakh', '₹8.90 Lakh', '₹14.36 Lakh', '₹8.16 Lakh',
       '₹8.45 Lakh', '₹6.38 Lakh', '₹2.49 Lakh', '₹14.62 Lakh',
       '₹9.75 Lakh', '₹14.24 Lakh', '₹13.02 Lakh', '₹9.88 Lakh',
       '₹4.25 Lakh', '₹5.19 Lakh', '₹9.97 Lakh', '₹5.03 Lakh',
       '₹6.17 Lakh', '₹15.57 Lakh', '₹8.73 Lakh', '₹9.06 Lakh',
       '₹8.89 Lakh', '₹16.12 Lakh', '₹15.08 Lakh', '₹14.53 Lakh',
       '₹13.38 Lakh', '₹2.39 Lakh', '₹6.60 Lakh', '₹8.76 Lakh',
       '₹2.68 Lakh', '₹4.24 Lakh', '₹7.90 Lakh', '₹17.26 Lakh',
       '₹3.90 Lakh', '₹5.68 Lakh', '₹13.12 Lakh', '₹1.87 Lakh',
       '₹5.53 Lakh', '₹6.52 Lakh', '₹5.46 Lakh', '₹5.80 Lakh',
       '₹6.23 Lakh', '₹3.46 Lakh', '₹3.11 Lakh', '₹6.21 Lakh',
       '₹4.83 Lakh', '₹2.14 Lakh', '₹14.82 Lakh', '₹7.10 Lakh',
       '₹3.42 Lakh', '₹8.98 Lakh', '₹6.89 Lakh', '₹10.93 Lakh',
       '₹8.59 Lakh', '₹6.58 Lakh', '₹6.91 Lakh', '₹15.61 Lakh',
       '₹3.93 Lakh', '₹4.11 Lakh', '₹6.34 Lakh', '₹9.29 Lakh',
       '₹6.69 Lakh', '₹7.14 Lakh', '₹6.49 Lakh', '₹13.39 Lakh',
       '₹5.65 Lakh', '₹8.49 Lakh', '₹8.36 Lakh', '₹10.15 Lakh',
       '₹7.24 Lakh', '₹16.08 Lakh', '₹7.31 Lakh', '₹21.20 Lakh',
       '₹13.98 Lakh', '₹6.12 Lakh', '₹12.13 Lakh', '₹11.17 Lakh',
       '₹8.67 Lakh', '₹6.47 Lakh', '₹8.21 Lakh', '₹8.24 Lakh',
       '₹10.81 Lakh', '₹7.50 Lakh', '₹6.83 Lakh', '₹9.43 Lakh',
       '₹8.53 Lakh', '₹8.77 Lakh', '₹11.75 Lakh', '₹10.82 Lakh',
       '₹9.24 Lakh', '₹10.92 Lakh', '₹11.05 Lakh', '₹9.01 Lakh',
       '₹4.95 Lakh', '₹6.51 Lakh', '₹3.84 Lakh', '₹4.01 Lakh',
       '₹7.99 Lakh', '₹5.30 Lakh', '₹11.99 Lakh', '₹7.76 Lakh',
       '₹8.56 Lakh', '₹7.60 Lakh', '₹10.14 Lakh', '₹10.11 Lakh',
       '₹15.09 Lakh', '₹3.36 Lakh', '₹8.05 Lakh', '₹8.10 Lakh',
       '₹3.86 Lakh', '₹3.20 Lakh', '₹9.50 Lakh', '₹15.52 Lakh',
       '₹5.12 Lakh', '₹14.58 Lakh', '₹6.82 Lakh', '₹9.13 Lakh',
       '₹7.30 Lakh', '₹6.74 Lakh', '₹7.45 Lakh', '₹10.45 Lakh',
       '₹12.16 Lakh', '₹4.12 Lakh', '₹6.45 Lakh', '₹11.03 Lakh',
       '₹4.75 Lakh', '₹2.17 Lakh', '₹3.94 Lakh', '₹4.13 Lakh',
       '₹7.61 Lakh', '₹4.87 Lakh', '₹2.60 Lakh', '₹4.37 Lakh',
       '₹4.50 Lakh', '₹5.43 Lakh', '₹9.81 Lakh', '₹10.50 Lakh',
       '₹23.60 Lakh', '₹21.51 Lakh', '₹8.99 Lakh', '₹3.19 Lakh',
       '₹11.29 Lakh', '₹3.06 Lakh', '₹2.45 Lakh', '₹5.05 Lakh',
       '₹4.21 Lakh', '₹3.70 Lakh', '₹2.76 Lakh', '₹9.47 Lakh',
       '₹9.95 Lakh', '₹3.54 Lakh', '₹13.49 Lakh', '₹5.81 Lakh',
       '₹12.84 Lakh', '₹7.79 Lakh', '₹20.20 Lakh', '₹13.52 Lakh',
       '₹8.43 Lakh', '₹12.25 Lakh', '₹8.03 Lakh', '₹3.34 Lakh',
       '₹4.31 Lakh', '₹7.29 Lakh', '₹4.59 Lakh', '₹8.27 Lakh',
       '₹8.69 Lakh', '₹13.76 Lakh', '₹6.97 Lakh', '₹3.08 Lakh',
       '₹12.29 Lakh', '₹10.58 Lakh', '₹10.99 Lakh', '₹16.99 Lakh',
       '₹6.95 Lakh', '₹19.90 Lakh', '₹4.91 Lakh', '₹19.28 Lakh',
       '₹4.29 Lakh', '₹3.99 Lakh', '₹3.95 Lakh', '₹11.76 Lakh',
       '₹7.62 Lakh', '₹4.44 Lakh', '₹3.21 Lakh', '₹16.67 Lakh',
       '₹4.68 Lakh', '₹11.66 Lakh', '₹16.71 Lakh', '₹17.49 Lakh',
       '₹19.99 Lakh', '₹10 Lakh', '₹10.75 Lakh', '₹8.70 Lakh',
       '₹6.88 Lakh', '₹14.28 Lakh', '₹9.40 Lakh', '₹3.01 Lakh',
       '₹14.96 Lakh', '₹7.75 Lakh', '₹7.96 Lakh', '₹3 Lakh', '₹8.08 Lakh',
       '₹17.85 Lakh', '₹11.14 Lakh', '₹9.19 Lakh', '₹5.88 Lakh',
       '₹13.10 Lakh', '₹4.35 Lakh', '₹8.11 Lakh', '₹4.27 Lakh',
       '₹9.55 Lakh', '₹10.56 Lakh', '₹11.65 Lakh', '₹18.96 Lakh',
       '₹15.62 Lakh', '₹4.94 Lakh', '₹7.57 Lakh', '₹16.73 Lakh',
       '₹9.84 Lakh', '₹9.42 Lakh', '₹4.46 Lakh', '₹13.31 Lakh',
       '₹9.57 Lakh', '₹11.46 Lakh', '₹9.56 Lakh', '₹8.09 Lakh',
       '₹8.20 Lakh', '₹3.25 Lakh', '₹6.48 Lakh', '₹10.08 Lakh',
       '₹7.38 Lakh', '₹17.42 Lakh', '₹11.36 Lakh', '₹8.62 Lakh',
       '₹10.40 Lakh', '₹14.90 Lakh', '₹10.13 Lakh', '₹6.73 Lakh',
       '₹8.25 Lakh', '₹7.86 Lakh', '₹5.95 Lakh', '₹10.38 Lakh',
       '₹17.62 Lakh', '₹11.34 Lakh', '₹13.05 Lakh', '₹8.66 Lakh',
       '₹16.17 Lakh', '₹8.19 Lakh', '₹18.12 Lakh', '₹3.10 Lakh',
       '₹20.06 Lakh', '₹9.90 Lakh', '₹18.29 Lakh', '₹11.09 Lakh',
       '₹7.17 Lakh', '₹15.54 Lakh', '₹19.67 Lakh', '₹8.48 Lakh',
       '₹7.36 Lakh', '₹16.85 Lakh', '₹8.18 Lakh', '₹18.98 Lakh',
       '₹7.92 Lakh', '₹9.15 Lakh', '₹14.74 Lakh', '₹6.56 Lakh',
       '₹10.35 Lakh', '₹11.92 Lakh', '₹13.61 Lakh', '₹10.79 Lakh',
       '₹11.10 Lakh', '₹21.80 Lakh', '₹16.72 Lakh', '₹16.93 Lakh',
       '₹11.01 Lakh', '₹7.12 Lakh', '₹15.60 Lakh', '₹6.28 Lakh',
       '₹8.13 Lakh', '₹27.33 Lakh', '₹17.54 Lakh', '₹9.25 Lakh',
       '₹14.64 Lakh', '₹21.68 Lakh', '₹9.21 Lakh', '₹7.02 Lakh',
       '₹11.35 Lakh', '₹6.94 Lakh', '₹7.13 Lakh', '₹14.48 Lakh',
       '₹10.47 Lakh', '₹10.30 Lakh', '₹12.57 Lakh', '₹18.94 Lakh',
       '₹18.48 Lakh', '₹12.48 Lakh', '₹19.84 Lakh', '₹14.97 Lakh',
       '₹5.70 Lakh', '₹8.47 Lakh', '₹2.73 Lakh', '₹12.90 Lakh',
       '₹2.19 Lakh', '₹3.32 Lakh', '₹16.69 Lakh', '₹5.42 Lakh',
       '₹18.10 Lakh', '₹7.69 Lakh', '₹3.49 Lakh', '₹4.92 Lakh',
       '₹4.98 Lakh', '₹7.84 Lakh', '₹9.22 Lakh', '₹5.20 Lakh',
       '₹11.72 Lakh', '₹10.23 Lakh', '₹13.53 Lakh', '₹7.95 Lakh',
       '₹5.15 Lakh', '₹6.80 Lakh', '₹3.37 Lakh', '₹19.14 Lakh',
       '₹11.18 Lakh', '₹6.96 Lakh', '₹4.47 Lakh', '₹11.20 Lakh',
       '₹5.39 Lakh', '₹14.42 Lakh', '₹13.82 Lakh', '₹3.57 Lakh',
       '₹18.40 Lakh', '₹6.90 Lakh', '₹9.73 Lakh', '₹3.28 Lakh',
       '₹2.18 Lakh', '₹5.73 Lakh', '₹13.72 Lakh', '₹11.55 Lakh',
       '₹2.83 Lakh', '₹4.03 Lakh', '₹5.40 Lakh', '₹8.54 Lakh',
       '₹6.98 Lakh', '₹7.81 Lakh', '₹10.83 Lakh', '₹6 Lakh', '₹6.22 Lakh',
       '₹4.77 Lakh', '₹8.46 Lakh', '₹7.07 Lakh', '₹9.62 Lakh',
       '₹18.16 Lakh', '₹2.61 Lakh', '₹4.49 Lakh', '₹7.59 Lakh',
       '₹15.44 Lakh', '₹9.86 Lakh'], dtype=object)

In [43]:
def price(x):
    x = x[1:].split()[0]
    return float(x)

In [44]:
df['price'] = df['price'].apply(lambda x: price(x))

In [45]:
df.head(2)

,brand,km_driven_(in_thousands),fuel_type,transmission,all_spec_1,price,model,manufacturer
0,Tata Harrier XZ,38,Diesel,Manual,Mileage (ARAI)\n17 kmpl\nGround clearance\n205...,15.65,2019,Tata
1,Maruti Suzuki Baleno Zeta Petrol,25,Petrol,Manual,Mileage (ARAI)\n21.01 kmpl\nGround clearance\n...,7.85,2019,Maruti Suzuki

In [46]:
df.dtypes

brand                        object
km_driven_(in_thousands)      int64
fuel_type                    object
transmission                 object
all_spec_1                   object
price                       float64
model                         int64
manufacturer                 object
dtype: object

# Finally, working on specifications column

In [47]:
df.rename(columns={'all_spec_1': 'specifications'}, inplace=True)

In [48]:
a = df.iloc[0,4]
a

'Mileage (ARAI)\n17 kmpl\nGround clearance\n205 mm\nBoot space\n425 litres\nSeating capacity\n5 units\nFuel tank capacity\n50 litres\nMax power\n138 bhp\nVIEW ALL SPECIFICATIONS'

In [49]:
b = 'Mileage (ARAI)\n17 kmpl\nGround clearance\n205 mm\nSeating capacity\n5 units\nFuel tank capacity\n50 litres\nMax power\n138 bhp\nVIEW ALL SPECIFICATIONS'

In [50]:
a.split("\n")

['Mileage (ARAI)',
 '17 kmpl',
 'Ground clearance',
 '205 mm',
 'Boot space',
 '425 litres',
 'Seating capacity',
 '5 units',
 'Fuel tank capacity',
 '50 litres',
 'Max power',
 '138 bhp',
 'VIEW ALL SPECIFICATIONS']

In [51]:
def spec(x):
    x = x.split("\n")
    ls = ['Mileage (ARAI)', 'Ground clearance', 'Boot space', 'Seating capacity', 'Fuel tank capacity', 'Max power']
    for i in ls:
        if i == "Mileage (ARAI)":
            try:
                mileage = x[x.index(i)+1]
            except:
                mileage = np.nan
        elif i == 'Ground clearance':
            try:
                ground_clearance = x[x.index(i)+1]
            except:
                ground_clearance = np.nan
        elif i == 'Boot space':
            try:
                boot_space = x[x.index(i)+1]
            except:
                boot_space = np.nan
        elif i == 'Seating capacity':
            try:
                seating_capacity = x[x.index(i)+1]
            except:
                seating_capacity = np.nan
        elif i == 'Fuel tank capacity':
            try:
                fuel_tank_capacity = x[x.index(i)+1]
            except:
                fuel_tank_capacity = np.nan
        elif i == 'Max power':
            try:
                max_power = x[x.index(i)+1]
            except:
                max_power = np.nan
                
    return mileage, ground_clearance, boot_space, seating_capacity, fuel_tank_capacity, max_power

In [52]:
spec(a)

('17 kmpl', '205 mm', '425 litres', '5 units', '50 litres', '138 bhp')

In [53]:
spec(b)

('17 kmpl', '205 mm', nan, '5 units', '50 litres', '138 bhp')

In [54]:
df[['mileage', 'ground_clearance', 'boot_space', 'seating_capacity', 'fuel_tank_capacity', 'max_power']] = df['specifications'].apply(lambda x: pd.Series(spec(x)))

In [55]:
df.isnull().sum()

brand                         0
km_driven_(in_thousands)      0
fuel_type                     0
transmission                  0
specifications                0
price                         0
model                         0
manufacturer                  0
mileage                      40
ground_clearance             70
boot_space                  103
seating_capacity             10
fuel_tank_capacity           10
max_power                   108
dtype: int64

In [56]:
df.dropna(inplace=True)

In [57]:
df.shape

(417, 14)

In [58]:
df.drop('specifications', axis=1, inplace=True)

# Cleaning/Preparing the specification columns like mileage, boot space, etc

In [59]:
df.head(2)

,brand,km_driven_(in_thousands),fuel_type,transmission,price,model,manufacturer,mileage,ground_clearance,boot_space,seating_capacity,fuel_tank_capacity,max_power
0,Tata Harrier XZ,38,Diesel,Manual,15.65,2019,Tata,17 kmpl,205 mm,425 litres,5 units,50 litres,138 bhp
1,Maruti Suzuki Baleno Zeta Petrol,25,Petrol,Manual,7.85,2019,Maruti Suzuki,21.01 kmpl,170 mm,339 litres,5 units,37 litres,81.80 bhp

In [60]:
specifications = ['mileage', 'ground_clearance', 'boot_space', 'seating_capacity', 'fuel_tank_capacity', 'max_power']

In [61]:
def magnitude(x):
    x = x.split()[0]
    return x

In [62]:
for i in specifications:
    df[i] = df[i].apply(lambda x: magnitude(x))

In [63]:
df.head(2)

,brand,km_driven_(in_thousands),fuel_type,transmission,price,model,manufacturer,mileage,ground_clearance,boot_space,seating_capacity,fuel_tank_capacity,max_power
0,Tata Harrier XZ,38,Diesel,Manual,15.65,2019,Tata,17,205,425,5,50,138
1,Maruti Suzuki Baleno Zeta Petrol,25,Petrol,Manual,7.85,2019,Maruti Suzuki,21.01,170,339,5,37,81.80

In [64]:
for i in specifications:
    df[i] = pd.to_numeric(df[i], errors = 'ignore')

In [65]:
df.rename(columns={'km_driven_(in_thousands)':'km driven (in thousands)','price':'price (in ₹)', 'model':'model (year)',
                   'mileage':'mileage (in kmpl)', 'ground_clearance':'ground clearance (in mm)',
                   'boot_space':'boot space (in litres)', 'seating_capacity':'seating capacity (units)',
                   'fuel_tank_capacity':'fuel tank capacity (in litres)', 'max_power':'max power (in bhp)'}, inplace=True)

In [66]:
df.head(2)

,brand,km driven (in thousands),fuel_type,transmission,price (in ₹),model (year),manufacturer,mileage (in kmpl),ground clearance (in mm),boot space (in litres),seating capacity (units),fuel tank capacity (in litres),max power (in bhp)
0,Tata Harrier XZ,38,Diesel,Manual,15.65,2019,Tata,17.00,205,425,5,50,138.0
1,Maruti Suzuki Baleno Zeta Petrol,25,Petrol,Manual,7.85,2019,Maruti Suzuki,21.01,170,339,5,37,81.8

In [67]:
df = df[['manufacturer','brand','model (year)','km driven (in thousands)','mileage (in kmpl)','seating capacity (units)', 'fuel_type', 'transmission', "ground clearance (in mm)", "boot space (in litres)", "fuel tank capacity (in litres)", "max power (in bhp)", "price (in ₹)"]]

In [68]:
df.head(2)

,manufacturer,brand,model (year),km driven (in thousands),mileage (in kmpl),seating capacity (units),fuel_type,transmission,ground clearance (in mm),boot space (in litres),fuel tank capacity (in litres),max power (in bhp),price (in ₹)
0,Tata,Tata Harrier XZ,2019,38,17.00,5,Diesel,Manual,205,425,50,138.0,15.65
1,Maruti Suzuki,Maruti Suzuki Baleno Zeta Petrol,2019,25,21.01,5,Petrol,Manual,170,339,37,81.8,7.85

In [69]:
df.to_csv('analysis-and-model.csv',index=False)

This file will be used for analysing and drawing insights using Excel & SQL and finally for building a Linear Regression model for prediction of prices of used cars in India.